@media screen and (max-width: 720px) {
  header {
    display: block !important;
    .laLunaLogo {
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .navList {
      display: block !important;
      text-align: center;
      * { margin: 0 5px; }
      span[class^="material-symbols"] { font-size: inherit !important; }
    }
  }
}