.theme-light {
  --background-color: #dcc6bb;
  --background-color-hover: #c0aca2;
  --background-color-active: #ecd6ca;
  --text-color: #3d374c;
  --text-color-hover: #312c3d;
  --text-color-active: #514964;
  --box-shadow: 0 4px 8px #3d374c40;
  --filter-drop-shadow: drop-shadow(0 2px 4px #3d374c40);
}

.theme-dark {
  --background-color: #3d374c;
  --background-color-hover: #312c3d;
  --background-color-active: #514964;
  --text-color: #dcc6bb;
  --text-color-hover: #c0aca2;
  --text-color-active: #ecd6ca;
  --box-shadow: 0 4px 8px #dcc6bb40;
  --filter-drop-shadow: drop-shadow(0 2px 4px #dcc6bb40);
}